<!doctype html>
<html>
<head>
	<title>Home page</title>
	<style>
		h2 {
			color: red;
			font-size: 70px;
			background-color: black;
			margin: 0px;
			text-align: center;
		} 
		p{
			color: grey;
			font-size: 30px;
		}
	</style>
</head>
	<body>
		<h2>Home Page!</h2>
		<p>My first web page. This will serve as the homepage. I will be referring to it as I work on Assignment 5 for my Fundamentals in Database Technologies module. Hopefully I will get a very high score in this assignment.</p>
	</body>
</html>